.Navbar {
  background-color: rgb(36, 41, 47);
  width: 100%;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
.Navbar .leftside {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
}
.Navbar .leftside .links {
  max-height: 80px;
  margin: 40px;
}
.Navbar .leftside .links a {
  text-decoration: none;
  font-size: 20px;
  margin-left: 15px;
}
.Navbar .leftside .links a:hover {
  color: orange;
}
.Navbar .leftside button {
  display: none;
  margin-left: 20px;
}
.Navbar .leftside #hidden {
  display: flex;
}
.Navbar .rightside {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.rightside input {
  width: 300px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 15px;
  background-color: rgb(36, 41, 47);
  border: 1px solid white;
  color: white;
}
.rightside .btn {
  background-color: rgb(36, 41, 47);
  color: white;
  line-height: 30px;
  height: 40px;
  width: 50px;
  margin: 10px;
  text-align: center;
  border-radius: 30%;

  /* transition: all 0.7s ease; */
}

.rightside btn:hover {
  font-size: 18px;
  cursor: pointer;
}
/* .rightside:hover input {
  width: 200px;
  height: 30px;
} */
@media only screen and (max-width: 850px) {
  .Navbar .leftside .links a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 750px) {
  .Navbar .leftside .links a {
    font-size: 11px;
  }
}
@media only screen and (max-width: 650px) {
  .Navbar .leftside button {
    display: flex;
  }
  .Navbar .leftside .links {
    display: none;
  }
  .Navbar .leftside #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 230px;
    max-height: 230px;
    width: 100%;
    background-color: rgb(28, 52, 64);
    flex-direction: column;
    align-items: center;
  }
  .Navbar .leftside #hidden a {
    margin: 10px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 440px) {
  .rightside input {
    width: 150px;
    height: 30px;
  }
  .rightside .btn {
    margin: 3px;
    margin-right: -10px;
  }
  .rightside btn:hover {
    font-size: 10px;
    cursor: pointer;
  }
}
